/* .container {
    padding-top: 2rem;
}

.table-name {
    overflow-x: auto;
}

.table {
    width: 100%;
}

.heading {
    text-align: center;
    margin-bottom: 1.5rem;
}
.btn-gist{
    margin-top: 1rem;
} */


.container {
    padding-top: 2rem;
}

.table-name {
    overflow-x: auto;
}

.table {
    width: 100%;
}

.heading {
    text-align: center;
    margin-bottom: 1.5rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.btn-gist {
    margin-top: 1rem;
}
